body {
    font-family: Arial, sans-serif;
    background-color: #272A3F;
    margin: 0;
    padding: 0;
}

header {
    background-color: #272A3F;
    color: #fff;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    font-family: Kanit;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

h2 {
    margin-left: 20px;
}

#navLinks {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

#navLinks a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    cursor: pointer;
    z-index: 1500;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 10px; /* Jarak antara logo */
    filter: grayscale(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.logo img {
    width: 35px;
     height: auto;
}

.button-style {
    padding: 10px 20px;
    background-color: #FE5151;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.about-info {
    width: 60%;
}

.profile-pic {
    width: 25%; 
}

.profile-pic img {
    width: 100%; 
    height: auto; 
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px; 
    display: flex;
    justify-content: center;
}

.portfolio img {
    width: 300px; 
    height: 300px; 
    object-fit: cover;
}

#testimonials {
    padding: 20px;
    margin: 20px;
    background-color: #272A3F;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
    overflow-x: auto;
    padding: 10px;
}

.testimonial {
    flex: 0 0 auto;
    width: 300px;
    background-color: #F9D74C;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.testimonial-box {
    padding: 20px;
    text-align: center;
}

.image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.author {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.comment {
    margin: 0;
    font-style: italic;
}

#contact {
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.social-media {
    margin-right: 10px; 
}

.social-icons img {
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
    filter: grayscale(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }

    .bar {
        margin: 4px 0;
    }

    #navLinks {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #navLinks.show {
        display: flex;
    }

    #navLinks a {
        margin: 10px 0;
    }

    header {
        padding: 10px 0;
    }
}

